<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>

</f:metadata>
<h:head>
	<title>Proyectos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no,
			initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Tareas asignadas"></p:staticMessage>
	</h:form>
	<div>
		
		<h:form id="formTabla">
			<p:dataTable value="#{beanPryAnalista.listaTareas}" var="t">
				<p:column headerText="ID" style="width:40px">
					<h:outputText value="#{t.idPryTarea}" />
				</p:column>
				<p:column headerText="PROYECTO">
					<h:outputText value="#{t.pryProyecto.nombre}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{t.nombre}" />
				</p:column>
				<p:column headerText="INICIO" style="width:80px">
					<h:outputText value="#{t.fechaInicio}" />
				</p:column>
				<p:column headerText="FINAL" style="width:80px">
					<h:outputText value="#{t.fechaFin}" />
				</p:column>
				<p:column headerText="AVANCE" style="width:80px">
					<p:spinner value="#{t.avance}" min="0" max="100"/>
				</p:column>
				<p:column headerText="ASIGNADO">
					<h:outputText value="#{t.segUsuario.correo}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton value="Actualizar avance" icon="pi pi-save"
						action="#{beanPryAnalista.actionListenerActualizarAvance(t)}"></p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</div>
	<h:outputStylesheet name="layout-bluegrey.css" library="css" />
</body>
</html>
