<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>

</f:metadata>
<h:head>
	<title>Proyectos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no,
			initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Filtro de Proyectos" icon="pi pi-cog"
				action="proyectos?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de proyectos"></p:staticMessage>
	</h:form>
	<div>
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre de nuevo proyecto:" />
				<p:inputText value="#{beanPryLider.nuevoProyecto.nombre}"
					required="true" requiredMessage="Ingrese el nombre del proyecto." />
				<h:outputText value="Fecha de inicio:" />
				<p:calendar value="#{beanPryLider.nuevoProyecto.fechaInicio}" />
				<h:outputText value="Fecha de fin:" />
				<p:calendar value="#{beanPryLider.nuevoProyecto.fechaFin}"
					mindate="#{beanPryLider.nuevoProyecto.fechaInicio}" />
				<p:commandButton value="Insertar" icon="pi pi-save"
					update="@form,:formTabla"
					action="#{beanPryLider.actionListenerInsertarProyecto()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
		<h:form id="formTabla">
			<p:dataTable value="#{beanPryLider.listaProyectos}" var="p">
				<p:column headerText="ID">
					<h:outputText value="#{p.idPryProyecto}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{p.nombre}" />
				</p:column>
				<p:column headerText="INICIO">
					<h:outputText value="#{p.fechaInicio}" />
				</p:column>
				<p:column headerText="FINAL">
					<h:outputText value="#{p.fechaFin}" />
				</p:column>
				<p:column headerText="AVANCE">
					<h:outputText value="#{p.avance}" />
				</p:column>
				<p:column headerText="ESTADO">
					<h:outputText value="#{p.estado}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton title="Editar" icon="pi pi-pencil" />
					<p:commandButton title="Eliminar" icon="pi pi-times" />
					<p:commandButton value="Tareas" icon="pi pi-search"
						action="#{beanPryLider.actionSeleccionarProyecto(p)}"></p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</div>
	<h:outputStylesheet name="layout-bluegrey.css" library="css" />
</body>
</html>
