<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>

</f:metadata>
<h:head>
	<title>Módulos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no,
			initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Galería de íconos" icon="pi pi-external-link"
				url="https://www.primefaces.org/showcase/icons.xhtml" target="_blank" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<p:commandButton value="Nuevo" icon="pi pi-plus" id="cmdNuevo"></p:commandButton>
		<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Nombre del módulo:" />
					<p:inputText value="#{beanSegModulos.nuevoModulo.nombreModulo}"
						required="true" requiredMessage="Ingrese el nombre del módulo." />
					<h:outputText value="Icono:" />
					<p:inputText value="#{beanSegModulos.nuevoModulo.icono}" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						update="@form:,formDatos"
						actionListener="#{beanSegModulos.actionListenerInsertarModulo()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:overlayPanel>
		<h:form id="formDatos">
			<p:dataTable value="#{beanSegModulos.listaModulos}" var="m"
				emptyMessage="No hay registros aún.">
				<p:column headerText="ID">
					<h:outputText value="#{m.idSegModulo}" />
				</p:column>
				<p:column headerText="NOMBRE MÓDULO">
					<h:outputText value="#{m.nombreModulo}" />
				</p:column>
				<p:column headerText="ICONO">
					<h:outputText value="#{m.icono}" />
					<i class="#{m.icono}" style="font-size: 2rem"></i>
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						actionListener="#{beanSegModulos.actionListenerCargarModulo(m)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanSegModulos.actionListenerEliminarModulo(m.idSegModulo)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este registro?" icon="pi pi-info-circle" />
					</p:commandButton>
					<p:commandButton icon="pi pi-search" title="Ver perfiles"
						value="Ver perfiles"
						action="#{beanSegModulos.actionCargarPerfiles(m)}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:dialog header="Edición" widgetVar="dialogoEdicion">
		<h:form id="formEdicion">
			<p:panelGrid columns="2" layout="grid">
				<h:outputText value="Nombre del módulo:" />
				<p:inputText value="#{beanSegModulos.edicionModulo.nombreModulo}"
					required="true" requiredMessage="Ingrese el nombre del módulo." />
				<h:outputText value="Icono:" />
				<p:inputText value="#{beanSegModulos.edicionModulo.icono}" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form,:formDatos"
					actionListener="#{beanSegModulos.actionListenerGuardarEdicionModulo()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
	<h:outputStylesheet name="layout-bluegrey.css" library="css" />
</body>
</html>
