@charset "UTF-8";

.top-aligned-columns td{
	vertical-align: top;
}

.fondo {
    background-image: url("#{resource['images/banner_mmarketdemo.png']}");
    background-size: cover; /* Ajusta la imagen para cubrir todo el panel */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
}
