<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>

</f:metadata>
<h:head>
	<title>Consulta total</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no,
			initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		
		<h:form id="formDatos">
			<p:dataTable emptyMessage="No hay registros aún." value="#{beanTHumanoEmpleados.listaConsulta}" var="e">
				<p:column headerText="ID" style="width:40px">
					<h:outputText value="#{e.idThmRolCabecera}" />
				</p:column>
				<p:column headerText="NOMBRES EMPLEADO">
					<h:outputText value="#{e.apellidos}" />
				</p:column>
				<p:column headerText="HEXT">
					<h:outputText value="#{e.horasExtra}" />
				</p:column>
				<p:column headerText="EMP">
					<h:outputText value="#{e.idThmEmpleado}" />
				</p:column>
				<p:column headerText="TOTAL">
					<h:outputText value="#{e.total}" />
				</p:column>
				<p:column headerText="PERIODO">
					<h:outputText value="#{e.nombrePeriodoRol}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<h:outputStylesheet name="layout-bluegrey.css" library="css" />
</body>
</html>
